# Hygraph
HYGRAPH_URL=""
HYGRAPH_TOKEN=""
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_CONTACT_EMAIL="mpcoyado@gmail.com"
NEXT_PUBLIC_INSTAGRAM_URL="https://www.instagram.com/mictalks/"
NEXT_PUBLIC_GITHUB_URL=""

# Discord
WEBHOOK_URL=""
